.left-sidebar {
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .left-sidebar {
    width: 100%;
    height: auto;
  }
}
